// Main
.main {
    width: 100%;
    background: #1b1b1b;

    .wrapper,
    .content {
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .image-container {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        width: 100%;
        height: 100vh; // 전체 화면 높이
        perspective: 500px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    // 반응형
    @media (max-width: 768px) {
        .image-container {
            height: 100vh;
        }
    }

    @media (max-width: 480px) {
        .image-container {
            height: 50vh;
        }
    }
}

// Page1
.smooth-wrapper {
    background: #1b1b1b;
    font-family: "Syncopate", sans-serif;

    .smooth-content {
        width: 100%;
        height: auto; 
        margin-top: 15vh;
        margin-left: 20px;
        padding: 200px;

        @media (max-width: 1024px) {
            padding: 150px;
        }

        @media (max-width: 768px) {
            padding: 100px 20px;
            margin-top: 10vh;
        }

        @media (max-width: 480px) {
            padding: 50px 10px;
            margin-top: 5vh;
        }
    }

    .text-animation {
        position: relative;
        display: block;
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: 400;
        color: #e4e0d2;

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1b1b1b;
            transform-origin: 100% 50%;
            will-change: transform;
            opacity: 0.75;
        }

        @media (max-width: 1024px) {
            font-size: 50px;
        }

        @media (max-width: 768px) {
            font-size: 20px;
        }

        @media (max-width: 480px) {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
}

// Page3
.main-slate { height: 100vh; }
.main-slate .slate-txt { z-index: 1; position: absolute; left: 0; height: calc(100vh / 2); }
.main-slate .slate-txt.slate-up { top: 0; align-items: end; }
.main-slate .slate-txt.slate-down { top: calc(100vh / 2); }

// Section7
.section7 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        position: absolute;
        font-size: 3vw;
        background: #ccc;
        padding: 0.5em 1em;
        z-index: 10;
    }
}

.main-zoom { 

    height: 100vh; 
    background-color: #000; 

    .zoom-group { 
        position: absolute;
        top: 50%; 
        left: 50%; 
        width: 100%; 
        height: 100%; 
        transform: translate(-50%, -50%); 
        clip-path: inset(50%);

        .zoom-txt{
            font-family: 'Pretendard';

            strong{
                font-weight: 800;
            }
        }
    }
}

// 반응형
@media (max-width: 768px) {

    .main-slate .slate-txt{
        font-size: 32px;
        line-height: 45px;
    }

    .zoom-txt{
        font-size: 20px;
    }
}
