// Footer
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #222;
    font-size: 14px;
    color: #fff;
    text-align: center;

    .content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .links {
        display: flex;
        gap: 15px;

        li {
            a {
                color: #fff;
                text-decoration: none;
                transition: color 0.3s;

                &:hover {
                    color: #1e90ff;
                }
            }
        }
    }

    // 반응형
    @media (max-width: 1024px) {
        font-size: 12px;

        .links {
            flex-direction: column;
            gap: 5px;
        }
    }
}
