// Header
.header {
    width: 100%;
    background: #000;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .header-inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
    }

    .logo {
        a {
            display: block;
            font-family: "Syncopate", sans-serif;
            font-size: 1.6rem;
            color: #fff;
        }
    }

    // 메뉴 토글 버튼 (모바일용 햄버거) 
    .menu-toggle {
        position: relative;
        width: 28px;
        height: 18px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 1100;

        span {
            display: block;
            width: 100%;
            height: 2px;
            background: #fff;
            border-radius: 2px;
            transition: all 0.3s ease;
        }

        &.open {
            span:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }

    // 네비게이션
    .nav {
        ul {
            display: flex;
            gap: 1.563rem;

            li {
                a {
                    display: block;
                    font-size: 1rem;
                    color: #fff;
                    text-decoration: none;
                    padding: 0.5rem 0;
                    position: relative;
                    transition: color 0.3s ease;
                    font-family: "Syncopate", sans-serif;

                    &:hover {
                        color: #e4e0d2;
                    }

                    &.active {
                        color: #e4e0d2;

                        &::after {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: #e4e0d2;
                        }
                    }
                }
            }
        }
    }

    // 반응형
    @media (max-width: 1024px) {
        .menu-toggle {
            display: flex;
        }

        .nav {
            position: fixed;
            top: 0;
            right: 0; 
            width: 100%;
            height: 0;;
            background: #000;
            box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
            transform: translateX(100%); 
            transition: transform 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                flex-direction: column;
                gap: 2rem;
            }

            &.open {
                transform: translateX(0); 
                height: 100vh;
                overflow: hidden;
            }
        }
    }
}
