@charset "UTF-8";

// Reset
@import "./base/reset";

// Var
@import "./base/var";

// Fonts 
@import "./base/fonts";

// Common
@import "./common/common";

// Header
@import "./components/layout/header";

// Footer
@import "./components//layout/footer";

// Main
@import "./components//layout/Main";

// Page  
@import "./components/page";